<header>
    <div class="title">Tech - Openlayers and Angular</div>
</header>
<main>
    <div id="ol-map" class="map-container">

    </div>
</main>
<footer>
    <div id="foot-status" style="border: black; display: none;">
        <table>
            <thead>
                <td>Layer Name</td>
                <td>Feature Count</td>
            </thead>
            <tbody>
                <tr>
                    <td>demand_point</td>
                    <td>{{featureCountDP}}</td>
                </tr>
                <tr>
                    <td>lv_oh_conductor</td>
                    <td>{{featureCountLVOHC}}</td>
                </tr>
                <tr>
                    <td>lvdb_fp</td>
                    <td>{{featureCountLVODBFP}}</td>
                </tr>
                <tr>
                    <td>pole</td>
                    <td>{{featureCountPole}}</td>
                </tr>
                <tr>
                    <td>street_light</td>
                    <td>{{featureCountSL}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="button" value="Show Feature Count" (click)=showFeature()/>
</footer>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>